**/node_modules
**/dist
**/.vite
**/.vitepress/cache
**/.vitepress/dist
backend/bin
backend/tmp
.env
.env.local
.env.production
.git
.gitignore
.vscode
.idea
docs
landing.*
*.md
!backend/**/*.md
LICENSE
